body{
margin:0;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    /*background-color: rgb(0, 0, 0); !* Black fallback color *!*/
    background-color: rgba(0, 0, 0, 0.95); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.navigation{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
     /* Full width */
}


.hamburger {
    height: 50px;
    padding: 3px;
    margin: 1% 0 0 1%;
}

.main{
    min-height: 200vh;
    background : linear-gradient(0deg, #EFEBE6 70%, #05151B 30%);
}
img{
    margin : 10% 10% 5% 10%;
    width: 70% ;
    height: 30%;
}
.title{
    /* Premuim Residence */


    padding-top : 5%;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 59px;

    text-align: center;

    color: #FFFFFF;
}
.row{
    margin: 0 1px 0 10px;
}
.gold-text {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1.7066999673843384px;
    text-align: center;
    color: #E3AE7E;
    text-transform: uppercase;
padding: 10px 30px 10px 30px;
}


.normal-text {
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna sed do eiusmod aliqua. */

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

padding: 10px 30px 10px 30px;
    color: #05151B !important;


}
.col-4{
    text-align: center !important;

}
.span1{
    width: 30%;

}
.span1 .normal-text,.gold-text{
    text-align: left !important;
}
.span2{
    width: 70%;
}
.span2 .normal-text{
    padding-right: 120px;
}
.container{
    display: flex;
    margin: 0 20%  0 20% !important;
}
.buttonVisit{
    background-color: transparent;
    border: #E3AE7E 2px solid;
    border-radius: 30px;
    box-shadow: none;
    padding: 10px;
    width: 15%;
    transition: background-color 150ms ease-in-out;

}
.bouton{
    text-align: center;
}
.buttonVisit:hover{
    background-color: #0d2c38 !important;
    border-color: #0d2c38;
    color: white;
}
hr{
    width: 80%;
    margin: 6% 6% 3% 6% !important;
}
.footer{
    padding: 0 50px 50px 50px;
}
svg{
    margin: 0 15px 0;
}
.prvnxt{



    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    /* identical to box height, or 179% */
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #05151B;


}