<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/stylesheets/case-study.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheets/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Roboto&display=swap"
          rel="stylesheet">

</head>
<body>
<nav id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </div>

</nav>
<!--<span onclick="openNav()">open</span>-->
<div class="navigation" style="color: white" onclick="openNav()"><img class="hamburger"
                                                                      src="/static/images/hamburger.png"></div>
<section class="main">
    <div class="title">
        Premium Residence
    </div>


    <div class="container">
        <div style="text-align: center">
            <img src="../static/images/Rectangle.png" alt="">
        </div>
        <span class="span1">

               <div class="gold-text"> Year</div>


               <div class="normal-text">
                   2008
               </div>



               <div class="gold-text"> Location</div>

               <div class="normal-text">
                   New York
               </div>

       </span>
        <span class="span2">
        <div class="gold-text"> Description</div>
            <div class="normal-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam architecto, debitis dignissimos id illo inventore qui quia repudiandae veniam? Cum dolores eveniet odit pariatur provident qui, quibusdam quisquam tenetur.</div>
        </span>

    </div>
    <div class="bouton">
        <button class="buttonVisit">Visit Website</button>
    </div>

    <div style="display:flex;justify-content: center">
        <hr>
    </div>

    <div class="footer">
        <div class="row">
            <div class="col-2">

                <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.4737 19L1.42105 10.3818L1 9.94545L1.42105 9.61818L10.4737 1L11 1.54545L2.16982 10L11 18.4545L10.4737 19Z"
                          fill="#E3AE7E" stroke="#E3AE7E"/>
                </svg>
                <a href="" class="prvnxt">
                    Previous Project
                </a>

            </div>

            <div class="col-8">

            </div>
            <div class="col-2">
                <a href="" class="prvnxt">Next Project</a>

                <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.52632 1L10.5789 9.61818L11 10.0545L10.5789 10.3818L1.52632 19L1 18.4545L9.83018 10L1 1.54545L1.52632 1Z"
                          fill="#E3AE7E" stroke="#E3AE7E"/>
                </svg>

            </div>
        </div>
    </div>
</section>

<script>


    function openNav() {
        document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.width = "0%";
    }


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>