<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/stylesheets/case-study.css">

</head>
<body>
<nav id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </div>

</nav>
<!--<span onclick="openNav()">open</span>-->
<div class="navbar" style="color: white" onclick="openNav()"><img class="hamburger" src="/static/images/hamburger.png"></div>
<section class="main">
    <div class="title">
        Premium Residence
    </div>
    <div style="text-align: center">
        <img src="../static/images/Rectangle.png" alt="">
    </div>

</section>
</body>
</html>